
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;

}
.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #02fefe;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow:  0px 0px 8px #02fefead ;
    transform: scale(1.05);
}
h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #02fefe;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;  
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #9d9898;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header nav.menu-dekstop a:hover{
    color: white;
    transform: scale(1.1);
}
header nav ul{
    list-style: none;
}
header nav.menu-dekstop ul li{
    display: inline-block;
    padding: 0 40px;
}

/* estilo do menu mobile */
.btn-abrir-menu i{
    color: #02fefe;
    font-size: 40px;
    display:none;
}
.menu-mobile{
    background-color: rgba(0, 0, 0, 0.89);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .orvelay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 8%;
    display: block;
    
}
.menu-mobile nav ul a:hover{
    background-color: #02fefe;
    color: black;
}
.menu-mobile .btn-fechar{
    padding: 20px 5%;
}
.menu-mobile .btn-fechar i{
    color: #02fefe;
    font-size: 20px;
}
.orvelay-menu{
    background-color: rgba(0, 0, 0, 0.64);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1 ;
    display: none;
}
/* ESTILO DO TOPO DO SITE */

section.topoSite{
    padding: 40px 4%;
}

section.topoSite .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topoSite h1{
    color: white;
    font-size: 42px;
    line-height: 40px;
}

.topoSite .textopSite h1 span{
    color: #02fefe;
}

.topoSite .textopSite p{
    color: white;
    margin: 40px 0;
}

.topoSite .imgtopoSite img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

.topoSite .braco img{
 position: absolute;
 right: 0;
 top: 450px;
 width: 390px;
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidade{
    padding: 40px 4%;
    margin-top: 100px;
}
section.especialidade .flex{
    gap: 60px;
}

.especialidade .especialidade-box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidade .especialidade-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.701);
}
.especialidade .especialidade-box i{
    font-size: 70px;
    color: #02fefe;
}

.especialidade .especialidade-box h3{
font-size:28px ;
margin: 15px 0;
<<<<<<< HEAD
=======
text-align: center;
>>>>>>> 70b3c26 (feito)
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 50px;
}
.sobre .img-sobre img{
    border: none;
    border-radius: 5%;
}

.sobre .txtsobre{
    color: white;
}
.sobre .txtsobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txtsobre h2 span{
    color: #02fefe;
    display: block;

}

.sobre .txtsobre p{
    margin:  20px 0;
    text-align: justify;
}

.btn-social button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #02fefe;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}
<<<<<<< HEAD
=======
.sobre .dev{
    padding: 60px 4%;
}
.sobre .dev .interface .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sobre .dev .interface .titulo{
    margin: 100px;
    text-align: center;
}
.sobre .dev .flex{
    align-items: center;
    gap: 60px;
}

.dev .flex .funcao{
    margin: 1px 0;
    border-right: 2px solid white;
    padding-right: 10px;
}


.dev .flex .img-eu img{
    max-width: 110px;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
    
}

.dev .flex .img-cassio img{
    max-width: 110px;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
    
}
.dev .flex .img-pedro img{
    max-width: 120px;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
    
}
.dev .flex img:hover{
    box-shadow: 0 0 8px #ffff;
    transform: scale(1.05);
}

.sobre .funcao p{
    color:#02fefe;
    font-size: 25px;
    font-weight: 600;
    
}
.sobre .funcao li{
    color: #ffff;
    font-size: 10px;
}
>>>>>>> 70b3c26 (feito)

/* ESTILO DO PROJETOS */

section.projeto{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(9, 9, 9, 0.567);
}
section.projeto .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-pro{
   width: 360px; 
   height: 460px;
   background-size: cover;
   background-position: 100% 0%;
   transition: 8s;
   cursor: pointer;
   border-radius: 40px;
   position: relative;
}
.img-pro:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #000000d4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULARIO */
section.formulario{
    padding: 80px 4%;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(56, 55, 55);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: #02fefe;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}


/* ESTILO DO RODAPÉ */

footer{
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.104);
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
    
}
.borda{
    border-top: 2px solid #02fefe;
}

footer .line-footer p i{
    color:#02fefe;
    font-size: 22px;
}
footer .line-footer p a{
    color: white;
}

<<<<<<< HEAD
=======
/* ANIMAÇAO */

.topoSite, .especialidade, .sobre{
    visibility: hidden;
}



>>>>>>> 70b3c26 (feito)
@media screen and (max-width: 1020px){
    /* CLASSE GERAL */
         .flex{
            flex-direction: column;
        }
        .topoSite .flex{
            flex-direction: column-reverse
        }
        h2.titulo{
            font-size: 34px;
            line-height: 30px;
        }

    /* CABEÇALHO */
        .menu-dekstop, .btn-contato{
            display: none;
        }
        .interface .logo img{
            width: 30%;
        }

        .btn-abrir-menu i{
            display: flex;
        }

        /* TOPO DO SITE */
        section.topoSite{
            padding: 40px 8%;
        }
        section.topoSite .flex{
            gap: 40px;
        }
        .topoSite h1{
            font-size: 30px;
        }
        .topoSite .imgtopoSite img{
            width: 100%;
<<<<<<< HEAD
            margin-bottom: 100px;
=======
            margin-bottom: 80px;
            margin-top: -70px;
>>>>>>> 70b3c26 (feito)
        }
        .topoSite .braco img{
            width: 250px;
            top: 450px;

        }

        /* ESTILO DA ESPECIALIDADE */
        section.especialidade{
            padding: 40px 8%;
        }

        /* sobre */
        section.sobre{
            padding: 40px 8%;
        }

        .sobre .txtsobre h2{
            font-size: 35px;
            line-height: 35px;
            text-align: center;

        }
        .btn-social{
            text-align: center;
        }
        .img-sobre img{
            width: 100%;
            
        }
<<<<<<< HEAD
=======
        .sobre .dev .interface .titulo{
            display: inline-flex;
            text-align: center;
            flex-direction: column;
            margin-left: 15px;
        }

        .dev .flex .funcao{
            border:none
            
        }
        


>>>>>>> 70b3c26 (feito)

        /* projeto */
        section.projeto{
            padding: 80px 8%;
        }

        .img-pro{
            width: 100%; 
            max-width: 360px;
            margin: 0 auto;
            
        }

        section.projeto .flex{
            gap: 50px;
        }

        /* rodape */
        footer .flex{
            flex-direction: column;
            gap: 20px;
        }

        footer .line-footer{
            text-align: center;
            
        }

        }